
/* Recipies CSS*/
h2{
  text-align: center;
  font-family: Mate;
  color: #4578ad;
  padding-bottom: 4%;
}
/* .recipies{
  background-color: f8d667;
} */
.card-font{
  color: #4578ad;
  font-family: Volkhorn SC;
  font-size: large;
}
.color{
  background-color: #6492c1;
}

.center-align{
  padding: 1%;
  padding-bottom: 2%;
}
@media only screen and (max-width: 1000px) {
  [class*="container"]
  {
    padding:0% 5% 0 10%;
  }
  [class*="center-align"] {
    padding-right:10% ;
  }
}
/*Review CSS*/
.review{
  background-image: url(../img/parallax_image.jpg);
  background-repeat: no-repeat;
  opacity: 0.6;
}
/*Photo Grid CSS*/
h2.card-font{
  font-size: x-large;
}

/*Categories*/
